<a href="https://colab.research.google.com/github/michaelwarui/Independent-project-week4-/blob/master/python_independent_project_wk4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#importing the libraries that we will require
import pandas as pd
import numpy as np

In [0]:
#creating a dataframe from the data
#loading our data from the csv file 
Auto=pd.read_csv('Autolib_dataset .csv')
Auto

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [0]:
Auto['Bluecar usage']=Auto['Bluecar counter'].diff()
Auto['Utilib usage']=Auto['Utilib counter'].diff()
Auto['Utilib 1.4 usage']=Auto['Utilib 1.4 counter'].diff()

In [0]:
Auto

                                 Address  Cars  ...  Utilib usage  Utilib 1.4 usage
0                    2 Avenue de Suffren     0  ...           NaN               NaN
1              145 Rue Raymond Losserand     6  ...           0.0               0.0
2       2 Avenue John Fitzgerald Kennedy     3  ...           0.0               2.0
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...           1.0              -2.0
4     6 avenue de la Porte de Champerret     3  ...          -1.0               0.0
...                                  ...   ...  ...           ...               ...
4995                 8 avenue MÃ©nelotte     2  ...           0.0               0.0
4996                   37 rue de Dantzig     4  ...           0.0               0.0
4997                      142 rue du Bac     1  ...           0.0               0.0
4998         2 avenue du Val de Fontenay     2  ...           0.0               0.0
4999                 5 Rue Henry Brisson     4  ...           0.0               0.0

[5000 rows x 28 columns]

In [0]:
#Accesing information from our dataset
print(Auto.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 28 columns):
Address                5000 non-null object
Cars                   5000 non-null int64
Bluecar counter        5000 non-null int64
Utilib counter         5000 non-null int64
Utilib 1.4 counter     5000 non-null int64
Charge Slots           5000 non-null int64
Charging Status        5000 non-null object
City                   5000 non-null object
Displayed comment      111 non-null object
ID                     5000 non-null object
Kind                   5000 non-null object
Geo point              5000 non-null object
Postal code            5000 non-null int64
Public name            5000 non-null object
Rental status          5000 non-null object
Scheduled at           47 non-null object
Slots                  5000 non-null int64
Station type           5000 non-null object
Status                 5000 non-null object
Subscription status    5000 non-null object
year                   5000 non-null int64
month                  5000 non-null int64
day                    5000 non-null int64
hour                   5000 non-null int64
minute                 5000 non-null int64
Bluecar usage          4999 non-null float64
Utilib usage           4999 non-null float64
Utilib 1.4 usage       4999 non-null float64
dtypes: float64(3), int64(12), object(13)
memory usage: 1.1+ MB
None

In [0]:
#cheaking if any null values exist
#
print(Auto.isnull().sum())

Address                   0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
Bluecar usage             1
Utilib usage              1
Utilib 1.4 usage          1
dtype: int64

In [0]:
#dropping the displayed comment column in the data
#As it contains to many missing values 
Auto.drop(['Displayed comment'], axis= 1,inplace=True)
Auto

                                 Address  Cars  ...  Utilib usage  Utilib 1.4 usage
0                    2 Avenue de Suffren     0  ...           NaN               NaN
1              145 Rue Raymond Losserand     6  ...           0.0               0.0
2       2 Avenue John Fitzgerald Kennedy     3  ...           0.0               2.0
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...           1.0              -2.0
4     6 avenue de la Porte de Champerret     3  ...          -1.0               0.0
...                                  ...   ...  ...           ...               ...
4995                 8 avenue MÃ©nelotte     2  ...           0.0               0.0
4996                   37 rue de Dantzig     4  ...           0.0               0.0
4997                      142 rue du Bac     1  ...           0.0               0.0
4998         2 avenue du Val de Fontenay     2  ...           0.0               0.0
4999                 5 Rue Henry Brisson     4  ...           0.0               0.0

[5000 rows x 27 columns]

In [0]:
Auto.head(3)

                            Address  Cars  ...  Utilib usage  Utilib 1.4 usage
0               2 Avenue de Suffren     0  ...           NaN               NaN
1         145 Rue Raymond Losserand     6  ...           0.0               0.0
2  2 Avenue John Fitzgerald Kennedy     3  ...           0.0               2.0

[3 rows x 27 columns]

In [0]:
#combining the separate year, month, day , hour and minute column into one datetime column
Auto['Int']=Auto['year'].astype(str) + Auto['month'].astype(str).str.zfill(2)+ Auto['day'].astype(str).str.zfill(2) + Auto['hour'].astype(str).str.zfill(2) + Auto['minute'].astype(str).str.zfill(2)
Auto['Datetime'] = pd.to_datetime(Auto['Int'], format='%Y%m%d%H%M')
Auto

                                 Address  ...            Datetime
0                    2 Avenue de Suffren  ... 2018-04-08 11:43:00
1              145 Rue Raymond Losserand  ... 2018-04-06 07:24:00
2       2 Avenue John Fitzgerald Kennedy  ... 2018-04-03 20:14:00
3                 51 Rue EugÃ¨ne OudinÃ©  ... 2018-04-04 04:37:00
4     6 avenue de la Porte de Champerret  ... 2018-04-08 17:23:00
...                                  ...  ...                 ...
4995                 8 avenue MÃ©nelotte  ... 2018-04-06 11:26:00
4996                   37 rue de Dantzig  ... 2018-04-04 16:56:00
4997                      142 rue du Bac  ... 2018-04-01 07:01:00
4998         2 avenue du Val de Fontenay  ... 2018-04-04 17:27:00
4999                 5 Rue Henry Brisson  ... 2018-04-08 10:02:00

[5000 rows x 29 columns]

In [0]:
#dropping the year, month, day, hour and minute column so as to remain with the combinded Datetime column
Auto.drop(['year','month','day','hour','minute','Int'], axis=1)
Auto

                                 Address  ...            Datetime
0                    2 Avenue de Suffren  ... 2018-04-08 11:43:00
1              145 Rue Raymond Losserand  ... 2018-04-06 07:24:00
2       2 Avenue John Fitzgerald Kennedy  ... 2018-04-03 20:14:00
3                 51 Rue EugÃ¨ne OudinÃ©  ... 2018-04-04 04:37:00
4     6 avenue de la Porte de Champerret  ... 2018-04-08 17:23:00
...                                  ...  ...                 ...
4995                 8 avenue MÃ©nelotte  ... 2018-04-06 11:26:00
4996                   37 rue de Dantzig  ... 2018-04-04 16:56:00
4997                      142 rue du Bac  ... 2018-04-01 07:01:00
4998         2 avenue du Val de Fontenay  ... 2018-04-04 17:27:00
4999                 5 Rue Henry Brisson  ... 2018-04-08 10:02:00

[5000 rows x 29 columns]

In [0]:
#arranging the data into ascending order
Auto.sort_values(by='Datetime', ascending=1,inplace=True)
Auto

                                  Address  ...            Datetime
1046     112 Rue Monge BÃ¢timent Lieu-dit  ... 2018-04-01 00:00:00
1107             19 place de la Madeleine  ... 2018-04-01 00:02:00
2874            44 rue SÃ©bastien Mercier  ... 2018-04-01 00:02:00
2059                      2 Avenue Mozart  ... 2018-04-01 00:03:00
4453             2 rue Neuve Saint-Pierre  ... 2018-04-01 00:04:00
...                                   ...  ...                 ...
2552             12 rue Denfert Rochereau  ... 2018-04-09 23:48:00
2672                       11 rue Gerbert  ... 2018-04-09 23:48:00
4582                    82 rue de CrimÃ©e  ... 2018-04-09 23:56:00
3201  21 bis rue Notre-Dame des Victoires  ... 2018-04-09 23:58:00
4443    31 Bis Rue du Faubourg Montmartre  ... 2018-04-09 23:58:00

[5000 rows x 29 columns]

In [0]:
#creating a usage column for each of the cars
Auto['Bluecar_usage']=Auto['Bluecar counter'].diff()
Auto['Utilib_usage']=Auto['Utilib counter'].diff()
Auto['Utilib1.4_usage']=Auto['Utilib 1.4 counter'].diff()

In [0]:
#previewing the updated column
Auto

                                  Address  Cars  ...  Utilib_usage  Utilib1.4_usage
1046     112 Rue Monge BÃ¢timent Lieu-dit     0  ...           NaN              NaN
1107             19 place de la Madeleine     0  ...           0.0              0.0
2874            44 rue SÃ©bastien Mercier     0  ...           0.0              0.0
2059                      2 Avenue Mozart     1  ...           0.0              0.0
4453             2 rue Neuve Saint-Pierre     0  ...           0.0              0.0
...                                   ...   ...  ...           ...              ...
2552             12 rue Denfert Rochereau     2  ...           0.0              0.0
2672                       11 rue Gerbert     2  ...           0.0              1.0
4582                    82 rue de CrimÃ©e     5  ...           0.0             -1.0
3201  21 bis rue Notre-Dame des Victoires     0  ...           0.0              0.0
4443    31 Bis Rue du Faubourg Montmartre     0  ...           0.0              0.0

[5000 rows x 32 columns]

In [0]:
#where the usage result is negative the car was taken.
#where the usage result is positive the car was returned.
#where the usage is 0.0 this means that nothing was taken or returned.
Auto[['Bluecar counter',	'Utilib counter',	'Utilib 1.4 counter','Bluecar_usage',	'Utilib_usage',	'Utilib1.4_usage']]

      Bluecar counter  Utilib counter  ...  Utilib_usage  Utilib1.4_usage
1046                0               0  ...           NaN              NaN
1107                0               0  ...           0.0              0.0
2874                0               0  ...           0.0              0.0
2059                1               0  ...           0.0              0.0
4453                0               0  ...           0.0              0.0
...               ...             ...  ...           ...              ...
2552                2               0  ...           0.0              0.0
2672                2               0  ...           0.0              1.0
4582                5               0  ...           0.0             -1.0
3201                0               0  ...           0.0              0.0
4443                0               0  ...           0.0              0.0

[5000 rows x 6 columns]

In [0]:
#creating a table where city is equal to paris only
paris=Auto[Auto.City=='Paris']
paris

                                  Address  Cars  ...  Utilib_usage  Utilib1.4_usage
1046     112 Rue Monge BÃ¢timent Lieu-dit     0  ...           NaN              NaN
1107             19 place de la Madeleine     0  ...           0.0              0.0
2874            44 rue SÃ©bastien Mercier     0  ...           0.0              0.0
2059                      2 Avenue Mozart     1  ...           0.0              0.0
4453             2 rue Neuve Saint-Pierre     0  ...           0.0              0.0
...                                   ...   ...  ...           ...              ...
3130                   19 rue BrÃ©montier     3  ...           0.0              0.0
2672                       11 rue Gerbert     2  ...           0.0              1.0
4582                    82 rue de CrimÃ©e     5  ...           0.0             -1.0
3201  21 bis rue Notre-Dame des Victoires     0  ...           0.0              0.0
4443    31 Bis Rue du Faubourg Montmartre     0  ...           0.0              0.0

[2816 rows x 32 columns]

Question one

In [0]:
#what is the most popular time are the bluecars mostly taken in paris
paris[(paris.Bluecar_usage < 0)].groupby('hour')['hour'].count().sort_values(ascending=False).head(1)

hour
21    74
Name: hour, dtype: int64

The most popular time to take bluecars 2100hrs in paris

In [0]:
#what is the most popular time to return bluecars in paris
paris[(paris.Bluecar_usage > 0)].groupby('hour')['hour'].count().sort_values(ascending=True).head(1)

hour
14    31
Name: hour, dtype: int64

The most popular time to return bluecars 1400hrs in paris

In [0]:

paris[(paris.Utilib_usage < 0)].groupby('hour')['hour'].count().sort_values(ascending=False).head(1)

hour
3    12
Name: hour, dtype: int64

The most popular taking time for utilib cars 0300hrs in paris

Question 2

In [0]:
#what is the most popular hour for returning bluecars
Auto[(Auto.Bluecar_usage)> 0].groupby('hour')['hour'].count().sort_values(ascending=False).head(1)

hour
21    95
Name: hour, dtype: int64

In [0]:
#what is the most popular hour for returning utilib cars
Auto[(Auto.Utilib_usage)< 0].groupby('hour')['hour'].count().sort_values(ascending=False).head(1)

hour
3    16
Name: hour, dtype: int64

In [0]:
#what is the most popular hour for taking utilib cars
Auto[(Auto['Utilib1.4_usage'])> 0].groupby('hour')['hour'].count().sort_values(ascending=False).head(1)

hour
3    32
Name: hour, dtype: int64

Question 3

In [0]:
#what is the most popular station 
s=Auto['ID'].value_counts().head(1)
s

paris-portedemontrouge-8    13
Name: ID, dtype: int64

b) the most popular picking hour

In [0]:
Auto[(Auto['Utilib1.4_usage'])< 0].groupby('hour')['hour'].count().sort_values(ascending=False).head(1)

hour
3    31
Name: hour, dtype: int64

most popular hour for picking utilib 1.4 cars is 0300hrs

In [0]:
Auto[(Auto.Utilib_usage)< 0].groupby('hour')['hour'].count().sort_values(ascending=False).head(1)

hour
3    16
Name: hour, dtype: int64

most popular hour for picking utilib cars is 0300hrs

In [0]:
Auto[(Auto.Bluecar_usage)< 0].groupby('hour')['hour'].count().sort_values(ascending=False).head(1)

hour
21    108
Name: hour, dtype: int64

most popular hour for picking bluecar cars is 2100hrs

Question 4

What postal code is the most popular for picking up Bluecars? Does the most popular station belong to that postal code?

In [0]:
#most popular postal code for picking bluecars

t=Auto[Auto.Bluecar_usage < 0].groupby('Postal code').count()[['Bluecar_usage']].sort_values(by = 'Bluecar_usage', ascending = False)
t.head(1)

             Bluecar_usage
Postal code
75015                  113

In [0]:
#what is the postal code of the 
m=Auto[Auto['Public name'] == 'Paris/Porte de Montrouge/8'][['Public name', 'Postal code']].head(1)
m

                     Public name  Postal code
2112  Paris/Porte de Montrouge/8        75014

In [0]:
p=m['Postal code']
p

2112    75014
Name: Postal code, dtype: int64

Which is the most popular time to pick up Utilib counter

In [0]:
Auto[Auto.Utilib_usage < 0].groupby('Postal code').count()[['Utilib_usage']].sort_values(by = 'Utilib_usage', ascending = False).head(1)

             Utilib_usage
Postal code
75015                  21

converting the edited data into a csv file

In [0]:
#converting into a csv  
Auto.to_csv('Auto.csv')